#!/bin/bash

pass=''
/usr/bin/i3-msg workspace $1
#Xaxis=$(xrandr --current | grep '*' | uniq | awk '{print $1}' |  cut -d 'x' -f1)
Xaxis=1920
#Yaxis=$(xrandr --current | grep '*' | uniq | awk '{print $1}' |  cut -d 'x' -f2)
Yaxis=1080
MaxRes=$(($Xaxis-5))"x"$(($Yaxis-25))
cWin=$(wmctrl -lp | grep $(xprop -root | grep _NET_ACTIVE_WINDOW | head -1 | awk '{print $5}' | sed 's/,//' | sed 's/^0x/0x0/') | awk '{print $1}')
case $1 in
        "atr305")
                hname="Hictatriusy0305"
                ip="34.149"
                proxy="admatriusy01"
                ;;
        "atr302")
                hname="hictatriusy0302"
                ip="34.121"
                proxy="admatriusy01"
                ;;
        "atr303")
                hname="hictatriusy0303"
                ip="34.122"
                proxy="admatriusy01"
                ;;
        "atr304")
                hname="hictatriusy0304"
                ip="34.53"
                proxy="admatriusy01"
                ;;
        "atr305")
                hname="hictatriusy0305"
                ip="12.133"
                proxy="admatriusy01"
                ;;
        "blo302")
                hname="hictblocksy0302"
                ip="34.123"
                proxy="admblocksy01"
                ;;
        "blo303")
                hname="hictblocksy0303"
                ip="34.124"
                proxy="admblocksy01"
                ;;
        "blo001")
                hname="dmziblockdb001"
                ip="36.90"
                proxy="admblocksy01"
                ;;
        "blo307a")
                hname="hictblocksy307a"
                ip="34.69"
                proxy="admblocksy01"
                ;;
        "blo307b")
                hname="hictblocksy307b"
                ip="34.70"
                proxy="admblocksy01"
                ;;
        "blo306")
                hname="hictblocksy306"
                ip="34.54"
                proxy="admblocksy01"
                ;;
        "blo305a")
                hname="hictblocksy305a"
                ip="34.58"
                proxy="admblocksy01"
                ;;
        "blo305b")
                hname="hictblocksy305b"
                ip="34.55"
                proxy="admblocksy01"
                ;;
        "blo304")
                hname="hictblocksy304"
                ip="34.56"
                proxy="admblocksy01"
                ;;
        "laptop")
                hname="po120003536"
                ip=""
                proxy="None"
                pass=""
                /usr/bin/rdesktop -u "msnet\exh345" -k nl-be -g $MaxRes -T $hname -p $pass -N -z -a 24 -x l -K -r sound:local -r clipboard:PRIMARYCLIPBOARD -r disk:C=/c -0 10.2.6.109:3389
                sleep 5
                ;;
        *)
                echo "invalid hostname"
                echo "use:"
                echo "- atr302"
                echo "- atr303"
                echo "- atr305"
                echo "- blo302"
                echo "- blo303"
                echo "- blo304"
                echo "- blo305a"
                echo "- blo305b"
                echo "- blo306"
                echo "- blo307a"
                echo "- blo307b"
                echo "- atr001"
                echo "- blo001"
                ;;
esac
if [ "$proxy" = "None" ]
then
  sleep 5
else
  ssh -N $proxy -L 127.2.$ip:3389:10.2.$ip:3389 & sshpid=$!
  echo 'Connecting to '$hname
  sleep 2
  /usr/bin/rdesktop -u sql_2k8_adm -k nl-be -g $MaxRes -p $pass -N -z -a 24 -5 -x l -K -r clipboard:PRIMARYCLIPBOARD -r disk:c=/c -0 127.2.$ip:3389

  sleep 5
  kill $sshpid
  sleep 5
fi
