#!/bin/bash
i3-msg 'exec /usr/bin/conky'

#i3-msg 'workspace Reddit'
#i3-msg 'exec /usr/bin/reditr'
#sleep 10
#i3-msg 'workspace IM'
#i3-msg 'exec /usr/bin/pidgin'
#sleep 10
##i3-msg 'exec /usr/bin/Telegram'
##sleep 10
#i3-msg 'workspace Chrome'
#i3-msg 'exec /usr/bin/chrome'
#sleep 10
#i3-msg 'workspace Firefox'
#i3-msg 'exec /usr/bin/firefox'
#sleep 10
#i3-msg 'workspace Evolution'
#i3-msg 'exec /usr/bin/evolution'
#sleep 10
#i3-msg 'exec /usr/bin/rdp laptop'
#sleep 10
#i3-msg 'workspace 1'
#i3-msg 'exec /usr/bin/synergy'

#/usr/bin/i3lock-wrapper
