#!/bin/bash

#i3-msg 'exec /usr/bin/conky'

i3-msg 'exec /usr/bin/chrome'
i3-msg 'exec /usr/bin/firefox'
i3-msg 'exec /usr/bin/evolution'
i3-msg 'exec /usr/bin/telegram'
i3-msg 'exec /usr/bin/atom'
#i3-msg 'exec /usr/bin/spotify'
i3-msg 'exec /usr/bin/slack'
