[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.55
    background_type = transparent
    cursor_color = "#00ff00"
    font = Monospace 12
    foreground_color = "#00ff00"
    icon_bell = False
    show_titlebar = False
    use_system_font = False
